// this bounds these styles to the pages-home component
#product-index {
  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .card:hover {
    cursor: pointer;
  }

  .btn-spacing {
    margin-right: 2vw;
  }
}
